.root{
    -fx-background-color: #ffffff;
}
.Button{
    -fx-background-color: transparent;
}
.Button:hover{
    -fx-border-color: #ec2bd3;
    -fx-border-width: 0 0 0 3 ;
}
.ButtonEffect:hover{
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}
.Pane{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #4568DC, #B06AB3);
}